body{
    background-image: url(./Data/Background/homescreen.png);
    background-size: cover;
    background-position: fixed;
    margin: 0%;
}
div.logo{
    border-radius: 20px;
    height: 150px;
    width: 410px;
    display: flex;
    align-items: center;
    margin: auto;
}
.back{
    margin-left: 200px;
}
.back button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 217, 0, 0.9) ;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.text p{
    font-size: 80px;
    width: 50%;
    display: inline-block;
    font-style: oblique;
    text-shadow: 2px 1px 1px rgb(194, 178, 178);
}
.inputs{
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputs p{
    font-size: 35px;
    width: 400px;
    background-color: rgba(0, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgb(61, 58, 58);
    border-radius: 8px;
}

.inputs input{
    height: 40px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 217, 0, 0.9) ;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

input:focus{
    outline: aqua 2px solid;
    background-color: gold;
    border: 1px gold solid;
}

input:hover{
    background-color: gold;
}
.buttons{
    text-align: center;
    margin: 25px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 217, 0, 0.9) ;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

button:active{
    border-bottom: 0px;
    box-shadow: none;
}

button:hover{
    background-color: gold;
}